{% extends 'two_factor/_base_focus.html' %}
{% load i18n %}

{% block title %} Cambiar Contraseña {% endblock %}
{% block content %}

  <div class="container mt-4">
    <h2>Cambiar Contraseña</h2>
    <br>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="checkbox" id="show-password"> Mostrar Contraseñas</input>
      <div class="container" style="padding: 5px;"></div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary me-3">Aceptar</button>
        <a href="{{ home_url }}" class="btn btn-secondary btn-danger">Cancelar</a>
      </div>
    </form>
  </div>

  <script>
    document.getElementById('show-password').addEventListener('change', function() {
      var passwords = document.querySelectorAll('input[type="password"], input[type="text"]');
      passwords.forEach(function(password) {
        if (this.checked) {
          password.type = 'text';
        } else {
          password.type = 'password';
        }
      }, this);
    });
  </script>
{% endblock %}