{% extends 'two_factor/_base_focus.html' %}
{% load i18n %}

{% block title %} Cambiar Contraseña {% endblock %}
{% block content %}

  <div class="container mt-4">
    <div class="row justify-content-center">
      <h2>Cambiar Contraseña</h2>
      <div class="card">
        <div class="card-body">
          <h2 class="text-success text-center">Tu contraseña ha sido cambiada exitosamente.</h2>
          <p class="text-center">Por favor, <a href="{{login}}">inicia sesión</a> nuevamente.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}